%h3 Join Cat or Badger!
%p Registered user votes carry more weight.  Plus, track your voting record, suggest contenders, and experience happiness.

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |form|

  %p
    Upload an avatar image.
    = form.file_field :image
  %p
    = form.label :username
    = form.text_field :username
  %p
    = form.label :email
    = form.text_field :email
  %p
    = form.label :password
    = form.password_field :password
  %p
    = form.label :password_confirmation
    = form.password_field :password_confirmation
  %p
    = form.label :signature_quote
    = form.text_field :signature_quote
  %p
    = form.label :bio
    = form.text_area :bio
  %p
    = form.submit "create user profile"
  = render :partial => "devise/shared/links"
