.transbox
  %div= image_tag @user.image.url(:thumb)
  %h3= @user.username
  %p= @user.signature_quote
  %br
  %p You can reach me at: #{ @user.email }
  %br
  %p= @user.bio
  %br
  %p= link_to "Edit", edit_user_path
  %p= link_to 'Delete', user_path(@user), :method => :delete
  
