= form_for @animal, :html => { :multipart => true } do |form|
  %p
    = form.label :name
    = form.text_field :name
    = form.label :quip
    = form.text_field :quip
  %p
    = form.label :blood_type
    = form.text_field :blood_type
    = form.label :special_move
    = form.text_field :special_move
  %p
    = form.label :strength
    = form.text_field :strength
    = form.label :weakness
    = form.text_field :weakness
  %p
    = form.label :bio
    = form.text_area :bio
  %p
    Choose an image
    = form.file_field :image
  %p
    = form.submit "create animal"
