.transbox
  %h1= @animal.name
  %div= image_tag @animal.image.url(:medium)
  #linelink
    %ul
      %li= link_to 'Edit', edit_animal_path
      %li= link_to 'Delete', animal_path(@animal), :method => :delete
  %br
  %br
  %h2= @animal.quip
  %p
    %b Strength: 
    = @animal.strength
  %p 
    %b Weakness: 
    = @animal.weakness
  %p
    %b Blood type: 
    = @animal.blood_type
  %p
    %b Special move: 
    = @animal.special_move
  %p 
    %b Bio:
    = @animal.bio
