%h2 Time to get real. Bloody.
- @battles.each do |battle|
  .transbox
    %h2= battle.blurb
    .thumbs
      %div= image_tag battle.animal_1.image.url(:thumb)
      %h3= link_to battle.animal_1.name, animal_path(battle.animal_1)
    .thumbs
      %div= image_tag battle.animal_2.image.url(:thumb)
      %h3= link_to battle.animal_2.name, animal_path(battle.animal_2)
