.transbox
  %h2= @battle.blurb
  .contender1box
    %div= image_tag @battle.animal_1.image.url(:medium)
    %h3= @battle.animal_1.name
    %p= @battle.animal_1.quip
    %p
      %b Strength: 
      = @battle.animal_1.strength
    %p 
      %b Weakness: 
      = @battle.animal_1.weakness
    %p
      %b Blood type: 
      = @battle.animal_1.blood_type
    %p
      %b Special move: 
      = @battle.animal_1.special_move
    %p 
      %b Bio:
      = @battle.animal_1.bio
  OR
  .contender2box
    %div= image_tag @battle.animal_2.image.url(:medium)
    %h3= @battle.animal_2.name
    %p= @battle.animal_2.quip
    %p
      %b Strength: 
      = @battle.animal_2.strength
    %p 
      %b Weakness: 
      = @battle.animal_2.weakness
    %p
      %b Blood type: 
      = @battle.animal_2.blood_type
    %p
      %b Special move: 
      = @battle.animal_2.special_move
    %p 
      %b Bio:
      = @battle.animal_2.bio
