.transbox
  %h2= @battle.blurb
  .contender1box
    %div= image_tag @battle.animal_1.image.url(:medium)
    %h3= @battle.animal_1.name
    %p= @battle.animal_1.quip
    %p
      %b Strength: 
      = @battle.animal_1.strength
    %p 
      %b Weakness: 
      = @battle.animal_1.weakness
    %p
      %b Blood type: 
      = @battle.animal_1.blood_type
    %p
      %b Special move: 
      = @battle.animal_1.special_move
    %p 
      %b Bio:
      = @battle.animal_1.bio
    - if @battle == Battle.last
      %p= button_to "vote for #{@battle.animal_1.name}", battle_votes_path(@battle, :vote => { :animal_id => @battle.animal_1.id }), :method => :post
    - else
      %p= "#{ @battle.tally_animal_1 } votes"
  OR
  .contender2box
    %div= image_tag @battle.animal_2.image.url(:medium)
    %h3= @battle.animal_2.name
    %p= @battle.animal_2.quip
    %p
      %b Strength: 
      = @battle.animal_2.strength
    %p 
      %b Weakness: 
      = @battle.animal_2.weakness
    %p
      %b Blood type: 
      = @battle.animal_2.blood_type
    %p
      %b Special move: 
      = @battle.animal_2.special_move
    %p 
      %b Bio:
      = @battle.animal_2.bio
    - if @battle == Battle.last
      %p= button_to "vote for #{@battle.animal_2.name}", battle_votes_path(@battle, :vote => { :animal_id => @battle.animal_2.id }), :method => :post
    - else
      %p= "#{ @battle.tally_animal_2 } votes"
  - if @battle != Battle.last
    %p= @battle.declare_outcome

- if @battle == Battle.last
  %p= link_to "Influence the outcome of this battle. Tell a story", new_story_path
